alembic
apscheduler
bcrypt
fastapi
httpx
langchain
langchain-community
langchain-google-genai
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint-postgres
pgvector
psycopg2-binary
psycopg[binary,pool]
pydantic-settings
pyjwt
python-dotenv
redis
sqlalchemy
tavily-python
tenacity
uvicorn
boto3
