alembic
bcrypt
fastapi
httpx
langchain
langchain-community
langchain-google-genai
langchain-openai
langchain-text-splitters
langgraph
pgvector
psycopg2-binary
psycopg[binary,pool]
pydantic-settings
pyjwt[crypto]
python-dotenv
redis
sqlalchemy
tenacity
uvicorn
boto3
